
   body{
    font-family: arial;
   }

  .background{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(36, 36, 74);
  }

  .main-container{
    position:absolute;
    left: 100px;
    top: 200px;
    
  }

  .title{
    color: white;
    font-size: 25px;
    width:220px;
  }

  .title2{
    color: rgb(4, 159, 4);
  }

  .line{
    border: none;
    background-color: rgb(4, 159, 4);
    height: 2px;
    width: 210px;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 20px
  }

  .input-copy-container{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  .input-box{
    width: 250px;
    height: 33px;
    padding-left:10px;
    border: none;
  /* overflow: hidden;*/
  }

  .input-box:focus{
    /*outline: 2px solid rgb(4, 159, 4); 
    outline-offset: 2px;
    */
    outline:none;
  }

  .copy{
    height:35px;
    border: none;
    background-color: white;
    padding: 8px;
    margin-left: -5px;
    color:rgb(4, 159, 4);
    cursor: pointer;
    
    /*overflow: hidden;*/
  }
 

  .generate{
    padding: 15px 35px 15px 35px;
    background-color: rgb(4, 159, 4);
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }

  .msg-cont{
    width: auto;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: none;
    font-weight: bold;
  }
