
     body{
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
     }

     .number{
      background-color: rgb(51, 51, 51);
      color: white;
      border-radius: 60px;
      border: none;
      height: 60px;
      width: 60px;
      font-size: 26px;
      margin-right: 5px;
      cursor: pointer
     }

     .not-number{
      background-color: rgb(254, 160, 10);
      color: white;
      border-radius: 60px;
      border: none;
      height: 60px;
      width: 60px;
      font-size: 26px;
      cursor: pointer
     }

     .number-clear{
      background-color: rgb(51, 51, 51);
      color: white;
      border-radius: 50px;
      border: none;
      height: 60px;
      width: 60px;
      font-size: 15px;
      cursor: pointer;
     }

     .display{
      color: white;
      font-size: 45px;
      font-family: Arial;
      margin-top: 15px;
      margin-bottom: 5px
      
     }
    