
      html{
        scroll-behavior: smooth;
      }
      body{
        background-color: rgb(0, 0, 0);
        padding: 30px 20px 30px 20px;

       
      }

      p{
        margin: 0;
      }

      .white-mode{
        background-color: rgb(255, 255, 255);
        color: black;
      }

      .white-mode .header{
        background-color: rgb(232, 229, 229);
        color: black;
      }

      .white-mode .header-btn{
        background-color: rgb(255, 248, 240);
        border: 2px solid black;
        color: black;
      }

      .white-mode .projects-section{
        background-color: white;
        border-top: 2px solid rgb(223, 219, 219);
        
      } 

      .white-mode .all-proj-cont{
        background-color: whitesmoke;
      }

     

      .white-mode .grid-description{
        background-color: rgb(236, 224, 224);
        color: black;
      }

      .white-mode .description-cont-1{
        background-color: rgb(236, 224, 224);
        border: 2px solid black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.553);
        color: black;
      }

      .white-mode .image-cont-1{
        border: 2px solid black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.553);
      }

      .white-mode .contact-cont{
          background-color: whitesmoke;
        color: black;
        border: 2px solid rgb(141, 141, 141);
        box-shadow: 2px solid rgba(102, 102, 102, 0.763);
      }

      .white-mode .git-link{
        color: black;
      }

      .white-mode .git-link:hover{
        color: blue;
        scale: 1.05;
        text-decoration: underline;
      }

      .white-mode .grid-image{
         background-color: rgb(239, 227, 213);

      }

      .white-mode .project-title{
        color: black
      }

      .white-mode .proj-title{
        color: black
      }

      .white-mode .grid-btn{
        background-color: rgb(236, 224, 224);
        color: black;
      }

      .white-mode .grid-box{
        background-color: rgb(209, 183, 175);
        border: 2px solid rgb(84, 84, 84);
        
      }
      
      .white-mode .proj-git-btn{
        background-color: rgb(235, 218, 204);
        border: 2px solid rgb(44, 43, 43);
        color: black;
      }

      .white-mode .proj-git-btn:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.566);
      }

      .white-mode .project-btn{
        background-color: rgb(243, 228, 228);
        border: 2px solid black;
        color:black;
      }

      .white-mode .project-btn:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
      }

      .white-mode .fa-arrow-down{
        color: black;
      }

      .white-mode .fa-moon{
        color: black;
      }

      .white-mode .about-cont{
        background-color: whitesmoke;
        color: black;
        border: 2px solid rgb(141, 141, 141);
        box-shadow: 2px solid rgba(116, 115, 115, 0.763);
      }

      .white-mode .res-cert-title{
        
        color: black;
      }

      .white-mode .link{
        background-color: rgb(245, 238, 220);
        color: black;
        border: 2px solid black;
      }

      .white-mode .link:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.511);
        border: 2px solid black;
      }

      .white-mode .cert-link{
         background-color:rgb(245, 238, 220);
        color: black;
        border: 2px solid black;

      }

      .white-mode .cert-link:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.511);
        border: 2px solid black;
      }
      .header{
        position: fixed;
        top:0;
        left:0;
        right:0;
        height:60px;
        background-color: rgb(38, 40, 71);
        border-bottom: 2px solid rgb(56, 56, 130);;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
      }

      .right-section{
        display: flex;
        align-items: center;
        gap:20px;
        margin-right: 20px;

      }

      .left-section{
        padding-left: 20px;
      }

      .fa-sun, .fa-moon{
        color: white;
        cursor: pointer;
      }

      .header-btn{
        text-decoration: none;
        padding:8px 20px;
       background-color: black;
        border: 2px solid rgb(141, 152, 244);
        border-radius: 20px;
        color: white;
        cursor: pointer;
      }

      .header-btn:hover{
        scale: 1.02;
        box-shadow: 0 0 10px rgb(167, 167, 238);
      }

      .about-section{
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        min-height: 100px;
        scroll-margin-top:80px;
        
      }
      .main-title{
       background-color: rgb(24, 25, 45);
       border: 2px solid rgb(0, 21, 128);
       box-shadow: 0 0 10px rgb(151, 170, 233);
        width: 300px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
      }

       .image-about-cont{
        background-color: rgb(24, 25, 45);
         border: 2px solid rgb(0, 21, 128);
       box-shadow: 0 0 10px rgb(151, 170, 233);
        width: 680px;
        height: 650px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding: 15px;
        box-sizing: border-box;
        color: white;
       }

        .person-pic{
        width: 200px;
        height: 200px;
        display: block;
        margin: 20px auto;
      }

      .parag-cont{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
        font-size: 17px;
        font-family: Arial;
      }


       .resources-cert-cont{
         background-color: rgb(24, 25, 45);
          border: 2px solid rgb(0, 21, 128);
       box-shadow: 0 0 10px rgb(151, 170, 233);
        width: 900px;
        height: 1000px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 15px;
        padding: 15px;
        color: white;
      }

      .resources-cont{
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .certificate-cont{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
      }

      .link-cont{
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .tech-title{
        font-weight:550;
        margin-bottom: 2px;
      }

      .resources-title, .contact-title{
        font-size: 22px;
        font-weight: bold;
        margin: 0 auto;
      }

      .res-cert-title{
        font-size: 19px;
        font-weight: bold;
        text-decoration: underline;
        color:beige;
        
        
      }

     

        .contact-cont{
        background-color: rgb(24, 25, 45);
        border: 2px solid rgb(0, 21, 128);
        box-shadow: 0 0 10px rgb(151, 170, 233);
        width: 600px;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
        padding: 10px;
        color: white;

      }

      .contact-info{
        font-size: 16.5px;
      }

      .github{
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .git-link{
        text-decoration: none;
        color: white;
      }

      .git-link:hover{
        color:antiquewhite;
        scale: 1.05;
        text-decoration: underline;
      }

      .link{
        text-decoration: none;
        background-color: black;
        border: 2px solid rgb(87, 93, 165);
        color: white;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;
        font-size: 15px;
        transition: border 0.2s ease, box-shadow 0.2s ease, scale 0.2s ease;
    
        
      }

      .link:hover{
         border: 2px solid rgb(105, 124, 219);
       box-shadow: 0 0 10px rgb(151, 170, 233);
        scale: 1.05;
      }

      
      .cert-link{
        text-decoration: none;
        background-color: black;
        border: 2px solid rgb(87, 93, 165);
        color: white;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;
        font-size: 15px;
        transition: border 0.2s ease, box-shadow 0.2s ease, scale 0.2s ease;
    
        
      }

      .cert-link:hover{
        border: 2px solid rgb(105, 124, 219);
       box-shadow: 0 0 10px rgb(168, 175, 237);
        scale: 1.05;
      }


    

      .projects-section{
        padding-top: 20px;
        scroll-margin-top:80px;
        background-color: rgb(10, 10, 10);
        border-top: 2px solid rgb(68, 67, 67);
        min-height: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;

      }

      .original-proj-cont{
       /* background-color: rgb(44, 44, 44);*/
        background-color: rgb(38, 40, 71);
         padding: 25px 25px 15px 25px;
        height: 350px;
       
        
      }

      .main-container-1{
        display: grid;
        grid-template-columns: 280px 600px;
        justify-content: center;
        align-items: center;
        background-color: none;
        box-sizing: border-box;
        margin-top: 30px;
        height: 230px;
        gap: 15px;
      


      }
    

      .image-cont-1{
        height: 230px;
        background-color: none;
        box-sizing: border-box;
        border: 2px solid rgb(3, 3, 77);
        box-shadow: 0 0 10px rgb(132, 132, 235);
        
        
      }

      .original-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .proj-title{
         color: wheat;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 18px;
        text-decoration: underline;
      }
      .proj-des{
        font-size: 17px;
      }

      .backend-image, .frontend-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .description-cont-1{
        height: 230px;
        background-color: rgb(6, 6, 83);
        border: 2px solid rgb(3, 3, 77);
        box-shadow: 0 0 10px rgb(132, 132, 235);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        box-sizing: border-box;
        padding: 10px;
      }

      .backend-proj-cont{
         background-color: rgb(38, 40, 71);
        padding: 25px 25px 15px 25px;
        height: auto;
      }
      .main-container-2, .main-container-4{
        height: 300px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
        margin-top: 20px;
      
      
       
      }

      .frontend-proj-cont{
         background-color: rgb(38, 40, 71);
        padding: 25px 25px 15px 25px;
        /*height: 2000px;*/
        height: auto;
      }

      .main-container-3{
      /*  background-color: aqua;*/
       height: 1900px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 300px;
        column-gap: 10px;
        row-gap: 20px;
        margin-top: 25px;
      
      
       
      }


      .grid-box{
        background-color: black;
        border: 2px solid rgb(87, 87, 114);
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-sizing: border-box;
        padding: 8px;
      }

      .grid-image{
        width: 100%;
        height: 100px;
        background-color: rgb(121, 121, 235);
        padding: 5px;
        box-sizing: border-box;
      }

      .grid-description{
        width: 100%;
        height: 120px;
        background-color: rgb(38, 38, 81);
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        box-sizing: border-box;
      }

      .grid-btn{
        width: 100%;
        height: 50px;
        background-color: rgb(38, 38, 81);
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        
      }

      .original-proj-btns{
         width: 100%;
        height: 50px;
        background-color: none;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
      }


      .btn-cont{
      position: relative;
        width: fit-content;
        margin-top: 10px;
        cursor: pointer;
       
      }

     
      .project-btn{
       
        padding: 8px 30px;
        background-color: black;
        border: 2px solid rgb(141, 152, 244);
        color: white;
        border-radius: 5px;
        cursor: pointer;
        
   

      }

      .project-btn:hover{
        scale: 1.02;
        box-shadow: 0 0 10px rgb(167, 167, 238);
      }

      .fa-arrow-down, .fa-arrow-up{
        color: white;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: transform 0.3s ease;
      }

      .rotate{
        transform: rotate(180deg);
      }

      .main-container-1, .main-container-2, .main-container-3{
        transition: display 0.8s ease;
        
      }

      .all-proj-cont{
        transition: height 0.5s ease;
      }

      .proj-git-btn{
        padding: 5px 10px;
        background-color: black;
        color: white;
        border: 2px solid rgb(149, 55, 55);
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: scale 0.2s ease, box-shadow 0.2s ease;
      }

      .proj-git-btn:hover{
        scale: 1.02;
        box-shadow: 0 0 10px rgb(245, 194, 245);
      }

      .project-title{
        color: wheat;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 17px;
        text-decoration: underline;
      }

    
     
